<main xmlns="http://www.w3.org/1999/html">
  <div class="position-relative">
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
<!-- My elements -->
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <h1 class="display-1" style="color:white">Jeremy Côté</h1>
              <p class="lead text-white">Software Developer</p>
            </div>
          </div>
        </div>
      </div>

      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section>
      <div class="text-center">
        <h1 id="about">About me</h1>
        <p class="centered-paragraph">
          Currently a second year student in a Bsc. of Biomedical Sciences at the University of Ottawa, I started programming 7 years ago using C for Arduino, and now, after 5 Game Jams hosted by Epic Games, I mainly program in Swift, C# and C++.
          In the summer of 2020, I started running <a href="http://hdh-analytics.com/">HDH Analytics Inc</a> where I currently develop apps for the Apple AppStore.

          My love of violin and guitar has sparked a passion for Digital Sound Processing which resulted in project Pedalboard.
        </p>
        <br/>
        <br/>
        <app-skills></app-skills>
        <br>
        <br>
        <app-projects></app-projects>

        <h1 id="contact">Contact Me</h1>
      </div>
    </section>

  </div>
</main>
<!--
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <img src="./assets/img/brand/argon-white.png" style="width: 200px;" class="img-fluid">
              <p class="lead text-white">A beautiful Design System for Bootstrap 4 and Angular 7. It's Free and Open Source.</p>
              <div class="btn-wrapper mt-5">
                <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-index-header" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                  <span class="btn-inner--text">Download Angular</span>
                </a>
                <a href="https://github.com/creativetimofficial/argon-design-system-angular?ref=adsa-index-header" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                  <span class="btn-inner--icon"><i class="fa fa-github"></i></span>
                  <span class="btn-inner--text">
                    <span class="text-warning">Star us</span> on Github</span>
                </a>
              </div>
              <div class="mt-5">
                <small class="text-white font-weight-bold mb-0 mr-2">*proudly coded by</small>
                <img src="./assets/img/brand/creativetim-white-slim.png" style="height: 28px;">
              </div>
            </div>
          </div>
        </div>
      </div>
-->