body {
    --color-white: rgb(255, 255, 255);
    --color-accent: rgb(158, 9, 245);
    --color-accent-dark: rgb(40, 20, 131);
    --color-accent-light: rgb(158, 9, 245);
    --color-primary: rgb(23,43,77);
    --color-call-to-action: rgb(45, 206, 137);
    --color-dark: rgb(33,37,41);
}  