<h1 id="projects">My Projects</h1>
<div class="container col-container-Project">
        <div class="col col-Project">
            <!-- iFavs -->
            <div class="card">
                <div class="card-body">
                    <h1 class="display-2" id="iFavs">iFavs</h1>
                    <p class="card-text"></p>
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid" src="./assets/img/brand/iFavs-icon.png">
                            </div>
                            <div class="col">
                                <p class="project-blurb">
                                    Organise and use all of your links, files, and apps using iFavs.
                                </p>
                                <p class="project-blurb">
                                    Entirely written in Swift, iFavs lives in MacOS' menubar for quick and easy access.
                                </p>
                                <div class="containerDesc">
                                    <div>
                                        <img width="44" src="./assets/img/icons/dev/swift-original.svg">
                                    </div>
                                    <div>
                                        <a href="https://apps.apple.com/ca/app/ifavs-link-file-manager/id1523364813?mt=12">
                                            <img style="padding-left: 5px;" src="./assets/img/apple/DownloadMacEn.svg">
                                        </a>
                                    </div>
                                </div>
                                <!--
                                <div class="row">
                                    <img width="44" src="./assets/img/icons/dev/swift-original.svg">
                                    <a href="https://apps.apple.com/ca/app/ifavs-link-file-manager/id1523364813?mt=12">
                                        <img style="padding-left: 5px;" src="./assets/img/apple/DownloadMacEn.svg">
                                    </a>
                                </div>
                                -->
                            </div>
                        </div>
                    <p></p>
                </div>
            </div>

            <!-- 5x5 -->
            <div class="card">
                <div class="card-body">
                    <h1 class="display-2" id="5x5">5x5</h1>
                    <p class="card-text"></p>
                    <div class="row">
                        <div  class="col">
                            <img class="img-fluid" src="./assets/img/screenshots/5x5iPhone.png" alt="First slide">

                        </div>

                        <div class="col">
                            <p class="project-blurb">
                                5x5 Math Puzzles puts your arithmetic skills to the test with grid based puzzles.
                            </p>
                            <p class="project-blurb">
                                Written in C#, this game uses Unity for rendering and fluid interaction with the user.
                            </p>
                            <div class="row centered-buttons">
                                <img height="48" src="./assets/img/icons/dev/csharp-original.svg">
                                <img style="padding-left: 2px" height="48" src="./assets/img/icons/dev/Unity.svg">
                            </div>
                            <br />
                            <br />
                            <a href="https://apps.apple.com/ca/app/5x5-math-puzzles/id1551729886"><img  src="./assets/img/apple/DownloadiOSEn.svg"></a>

                        </div>

                    </div>

                    <p></p>
                </div>
            </div>

        </div>

        <div class="col col-Project">
            <!-- Pedalboard -->
            <div class="card">
                <div class="card-body">
                    <h1 style="margin-bottom: -1em;" class="display-2" id="pedalboard">Pedalboard</h1>
                    <br/>
                    <br/>
                    <div>
                        <img class="img-fluid" src="./assets/img/screenshots/PedalboardiPad.png">
                    </div>

                    <p class="card-text project-blurb">
                        Written in Swift, Pedalboard uses the AudioKit library to apply digital sound processing in real time. Simply plug-in your instrument or microphone and start playing.
                    </p>
                    <div class="containerDesc">
                        <div class="imageDesc">
                            <img width="128" src="./assets/img/icons/dev/swift-original.svg">
                        </div>
                        <div class="textDesc">
                            <h4><strong>
                                Coming soon to the Apple App Store
                            </strong></h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Five Hundreds -->
            <div class="card">
                <div class="card-body">
                    <h1 class="display-2" id="500">Five Hundreds</h1>
                    <p class="card-text"></p>
                    <div class="containerDesc">
                        <div class="imageLargeDesc">
                            <img class="playingCard" src="./assets/img/screenshots/Ace.png">
                        </div>
                        <div class="textDesc">
                            <p class="project-blurb">
                                Play a classic 4 player card game against AI trained using Unity's ml-agents toolkit.
                            </p>
                            <p class="project-blurb">
                                Coded in C# and trained using PyTorch.
                            </p>
                            <div class="row centered-buttons">
                                <button style="width: 30%" class="btn btn-icon btn-3 btn-default"type="button">
                                    <a href="https://jeremycote.github.io/FiveHundreds">
                                        <span style="color: white" class="btn-inner--text">Play</span>
                                    </a>
                                </button>
                                <button style="width: 55%;" class="btn btn-icon btn-3 btn-default"type="button">
                                    <a href="https://github.com/jeremycote/FiveHundreds">
                                        <span style="color: white; text-align: left" class="btn-inner--text">View on GitHub</span>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="row">
                        <img width="256" style="border: 2px solid black; border-radius: 10px 10px 10px 10px;" src="./assets/img/screenshots/Ace.png">
                        <div class="col">
                            <p class="project-blurb">
                                Play a classic 4 player card game against AI trained using Unity's ml-agents toolkit.
                            </p>
                            <p class="project-blurb">
                                Coded in C# and trained using PyTorch.
                            </p>
                            <div style="padding-left: 10px" class="row">
                                <img  width="48" src="./assets/img/icons/dev/csharp-original.svg">
                            </div>

                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
</div>