<h1 id="projects">My Projects</h1>
<div class="container col-container-Project">
    <div class="col col-Project">
        <!-- UOSM Motor Controller -->
        <div class="card">
            <div class="card-body">
                <h1 class="display-2" id="uosm">Supermileage</h1>
                <div>
                    <img class="img-fluid" src="./assets/img/screenshots/Sharknado.jpg">
                </div>
                <p class="card-text project-blurb">
                    UO Supermileage is a competitive student engineering team in the Faculty of Engineering at uOttawa. As the university’s only electric car racing team, we develop an efficient, all-electric, urban concept vehicle to compete in the Urban Electric category in the Shell Eco-Marathon.
                    <br><br>
                    The car's steering wheel and motor controller are both controlled by STM32 microcontrollers. These projects are written in C using FreeRTOS.
                </p>
                <div class="row centered-buttons">
                    <button style="width: 14em;" class="btn btn-icon btn-3 btn-default"type="button">
                        <a href="https://github.com/UOSupermileage/UOSM-Steering-Wheel-MCU-L432">
                            <span style="color: white; text-align: center" class="btn-inner--text">Steering Wheel</span>
                        </a>
                    </button>

                    <button style="width: 14em;" class="btn btn-icon btn-3 btn-default"type="button">
                        <a href="https://github.com/UOSupermileage/UOSM-Motor-Controller-MCU-L432">
                            <span style="color: white; text-align: center" class="btn-inner--text">Motor Controller</span>
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <!-- iFavs -->
        <div class="card">
            <div class="card-body">
                <h1 class="display-2" id="iFavs">iFavs</h1>
                <div class="row">
                    <div class="col">
                        <img src="./assets/img/brand/iFavs-icon.png">
                    </div>
                    <div class="col">
                        <p class="project-blurb">
                            Organise and use all of your links, files, and apps using iFavs.
                        </p>
                        <p class="project-blurb">
                            Entirely written in Swift, iFavs lives in MacOS' menubar for quick and easy access.
                        </p>
                        <div class="containerDesc">
                            <div>
                                <img width="44" src="./assets/img/icons/dev/swift-original.svg">
                            </div>
                            <div>
                                <a href="https://apps.apple.com/app/apple-store/id1523364813?pt=121840887&ct=iFavsHDHAnalyticsWebsite&mt=8">
                                    <img style="padding-left: 5px;" src="./assets/img/apple/DownloadMacEn.svg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- GeoSwapper -->
        <div class="card">
            <div class="card-body">
                <h1 class="display-2" id="geoswapper">GeoSwap</h1>
                <div class="row">
                    <div  class="col">
                        <img class="img-fluid" src="./assets/img/screenshots/GeoSwapperiPhone.png" alt="GeoSwapper iPhone">
                    </div>
                    <div class="col">
                        <p class="project-blurb">
                            Guess animals, food, and landmarks from all over the world!
                            Not sure what it is? Complete the puzzle to reveal a beautiful image.
                        </p>
                        <div class="row centered-buttons">
                            <img height="48" src="./assets/img/icons/dev/csharp-original.svg">
                            <img style="padding-left: 2px" height="48" src="./assets/img/icons/dev/Unity.svg">
                        </div>
                        <br />
                        <br />
                        <a href="https://apps.apple.com/app/apple-store/id1594992798?pt=121840887&ct=HDHAnalyticsWebsite&mt=8"><img  src="./assets/img/apple/DownloadiOSEn.svg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-Project">
        <!-- Pedalboard -->
        <div class="card">
            <div class="card-body">
                <h1 style="margin-bottom: -1em;" class="display-2" id="pedalboard">Pedalboard</h1>
                <br/>
                <br/>
                <img src="./assets/img/screenshots/PedalboardiPad.png">
                <p class="card-text project-blurb">
                    Written in Swift, Pedalboard uses the AudioKit library to apply digital sound processing in real time. Simply plug-in your instrument or microphone and start playing.
                </p>
                <div class="containerDesc">
                    <div>
                        <img width="44" src="./assets/img/icons/dev/swift-original.svg">
                    </div>
                    <div>
                        <a href="https://apps.apple.com/app/apple-store/id1584890462?pt=121840887&ct=HDHAnalyticsWebsite&mt=8">
                            <img style="padding-left: 5px" src="./assets/img/apple/DownloadiOSEn.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- TwoTruthsOneLie -->
        <div class="card">
            <div class="card-body">
                <h1 class="display-4" id="ttol">Two Truths and a Lie: iMessage</h1>
                <div class="row">
                    <div  class="col">
                        <img class="img-fluid" src="./assets/img/screenshots/TTOLiPhone.png" alt="First slide">

                    </div>

                    <div class="col">
                        <p class="project-blurb">
                            Challenge your friends and family to a Two Truths and a Lie over iMessage.
                        </p>
                        <p class="project-blurb">
                            Two Truths and a Lie is an iMessage extension written in Swift.
                        </p>
                        <div class="row centered-buttons">
                            <img height="48" src="./assets/img/icons/dev/swift-original.svg">
                            <img style="padding-left: 2px" height="42" src="./assets/img/apple/DownloadiOSEn.svg">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- 5x5 -->
        <div class="card">
            <div class="card-body">
                <h1 class="display-2" id="5x5">5x5</h1>
                <p class="card-text"></p>
                <div class="row">
                    <div  class="col">
                        <img class="img-fluid" src="./assets/img/screenshots/5x5iPhone.png" alt="First slide">
                    </div>

                    <div class="col">
                        <p class="project-blurb">
                            5x5 Math Puzzles puts your arithmetic skills to the test with grid based puzzles.
                        </p>
                        <p class="project-blurb">
                            Written in C#, this game uses Unity for rendering and fluid interaction with the user.
                        </p>
                        <div class="row centered-buttons">
                            <img height="48" src="./assets/img/icons/dev/csharp-original.svg">
                            <img style="padding-left: 2px" height="48" src="./assets/img/icons/dev/Unity.svg">
                        </div>
                        <br />
                        <br />
                        <a href="https://apps.apple.com/app/apple-store/id1551729886?pt=121840887&ct=WorkItHDHAnalyticsWebsite&mt=8"><img  src="./assets/img/apple/DownloadiOSEn.svg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
