<h1 id="projects">My Projects</h1>
<style>
    .containerDesc {
        display: flex;
        align-items: center;
        justify-content: center
    }
    img {
        max-width: 100%
    }
    .imageDesc {
        flex-basis: 20%
    }
    .textDesc {
        padding-left: 20px;
    }
</style>
<div class="container">
    <div class="row">
        <!-- iFavs -->
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1 class="display-2" id="iFavs">iFavs</h1>
                    <p class="card-text"></p>
                        <div class="row">
                            <img width="256" src="./assets/img/brand/iFavs-icon.png">
                            <div class="col">
                                <p class="project-blurb">
                                    Organise and use all of your links, files, and apps using iFavs.
                                </p>
                                <p class="project-blurb">
                                    Entirely written in Swift, iFavs lives in MacOS' menubar for quick and easy access.
                                </p>
                                <div class="row">
                                    <img width="44" src="./assets/img/icons/dev/swift-original.svg">
                                    <a href="https://apps.apple.com/ca/app/ifavs-link-file-manager/id1523364813?mt=12">
                                        <img style="padding-left: 5px;" src="./assets/img/apple/DownloadMacEn.svg">
                                    </a>
                                </div>

                            </div>
                        </div>
                    <p></p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div style="line-height: 0%">
                        <h1 style="margin-bottom: -1em;" class="display-2" id="pedalboard">Pedalboard</h1>
                        <img width="360" style="transform: rotate(270deg);" src="./assets/img/screenshots/PedalboardiPad.png">
                    </div>

                    <p class="card-text project-blurb">
                        Written in Swift, Pedalboard uses the AudioKit library to apply digital sound processing in real time. Simply plug-in your instrument or microphone and your ready to go.
                    </p>
                    <br />
                    <div class="containerDesc">
                        <div class="imageDesc">
                            <img width="128" src="./assets/img/icons/dev/swift-original.svg">
                        </div>
                        <div class="textDesc">
                            <h4><strong>
                                Coming soon to the Apple App Store
                            </strong></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 5x5 -->
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1 class="display-2" id="5x5">5x5</h1>
                    <p class="card-text"></p>
                    <div class="row">
                        <div  class="col">

                            <ngb-carousel>

                                <ng-template ngbSlide>
                                    <img class="img-fluid projectCarouselImg" src="./assets/img/screenshots/5x5iPhone.png" alt="First slide">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="img-fluid projectCarouselImg" src="./assets/img/screenshots/5x5iPhone.png" alt="Second slide">
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img class="img-fluid projectCarouselImg" src="./assets/img/screenshots/5x5iPhone.png" alt="Third slide">
                                </ng-template>

                            </ngb-carousel>

                        </div>

                        <div class="col">
                            <p class="project-blurb">
                                5x5 Math Puzzles designed to put your arithmetic skills to the test.
                            </p>
                            <p class="project-blurb">
                                Written in C#, this game uses Unity for rendering and fluid interaction with the user.
                            </p>
                            <div class="row">
                                <img height="48" src="./assets/img/icons/dev/csharp-original.svg">
                                <img style="padding-left: 2px" height="48" src="./assets/img/icons/dev/Unity.svg">
                            </div>
                            <br />
                            <br />
                            <a href="https://apps.apple.com/ca/app/5x5-math-puzzles/id1551729886"><img  src="./assets/img/apple/DownloadiOSEn.svg"></a>

                        </div>

                    </div>

                    <p></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h1 class="display-2" id="500">Five Hundreds</h1>
                    <p class="card-text"></p>
                    <div class="row">
                        <img width="256" style="border: 2px solid black; border-radius: 10px 10px 10px 10px;" src="./assets/img/screenshots/Ace.png">
                        <div class="col">
                            <p class="project-blurb">
                                Play a classic 4 player card game against AI trained using Unity's ml-agents toolkit.
                            </p>
                            <p class="project-blurb">
                                Coded in C# and trained using PyTorch.
                            </p>
                            <div style="padding-left: 10px" class="row">
                                <img  width="48" src="./assets/img/icons/dev/csharp-original.svg">
                            </div>

                        </div>
                    </div>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>