.centered-paragraph{

  margin : 0 auto; /* step 1: center the paragraph on the page */
  width: 70%; /* you have to give it a width, or else the browser thinks it's as wide as the whole page */
  /*border : 1px solid black; /* i gave it a border just so you can see what's happening more clearly */
  text-align : justify; /* step 2, make sure the text inside the paragraph is left-aligned. this is the default, but it doesn't hurt to declare it exlpicitly */
}
/* You can add global styles to this file, and also import other style files */
.limit {
  width: 500px;
  word-wrap: break-word;
}
.centered-paragraph{

  margin : 0 auto; /* step 1: center the paragraph on the page */
  width: 70%; /* you have to give it a width, or else the browser thinks it's as wide as the whole page */
  /*border : 1px solid black; /* i gave it a border just so you can see what's happening more clearly */
  text-align : justify; /* step 2, make sure the text inside the paragraph is left-aligned. this is the default, but it doesn't hurt to declare it exlpicitly */
}
.card{
  margin-bottom: 12px;
  margin-top: 12px;
}

.grid-container {
  display: grid;
  grid-template: 64px / auto auto;
  grid-gap: 2px;
}
.project-blurb{
  text-align: justify;
}

.projectCarouselImg{
  width: 256px;
}

.containerDesc {
  display: flex;
  align-items: center;
  justify-content: center
}
img {
  max-width: 100%
}
.imageDesc {
  flex-basis: 20%
}
.imageLargeDesc {
  flex-basis: 70%
}
.textDesc {
  padding-left: 20px;
}
.playingCard{
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;
}
.col-container-Project {
  display: table; /* Make the container element behave like a table */
  width: 100%; /* Set full-width to expand the whole page */
}
.centered-buttons {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-Project {
  display: table-cell; /* Make elements inside the container behave like table cells */
  width: 50%;
}
@media only screen and (max-width: 600px) {
  .col-Project {
    display: block;
    width: 100%;
  }
}