<style>
    .skillContainer{
        height: 200px;
    }
</style>

<h1 id="skills">My Skills</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body skillContainer">
                    <h5>Languages</h5>
                    <p class="card-text"></p>
                    <ul class="list-unstyled" style="text-align: left">
                        <li>
                            <img src="./assets/img/check.svg">
                            Swift
                        </li>
                        <li>
                            <img src="./assets/img/check.svg">
                            C#
                        </li>
                        <li>
                            <img src="./assets/img/check.svg">
                            C++
                        </li>
                        <li>
                            <img src="./assets/img/check.svg">
                            Python
                        </li>
                    </ul>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body skillContainer">
                    <h5>Frameworks</h5>
                    <p class="card-text"></p>
                    <ul class="list-unstyled" style="text-align: left">
                        <li>
                            <img src="./assets/img/check.svg">
                            SwiftUI
                        </li>
                        <li>
                            <img src="./assets/img/check.svg">
                            WxWidgets
                        </li>
                        <li>
                            <img src="./assets/img/check.svg">
                            Unity
                        </li>
                        <li>
                            <img src="./assets/img/check.svg">
                            Unreal Engine
                        </li>
                    </ul>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body skillContainer">

                    <h5>Web Development</h5>


                    <p class="card-text"></p>

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul class="list-unstyled" style="text-align: left">
                                    <li>
                                        <img src="./assets/img/check.svg">
                                        HTML
                                    </li>
                                    <li>
                                        <img src="./assets/img/check.svg">
                                        CSS
                                    </li>
                                    <li>
                                        <img src="./assets/img/check.svg">
                                        Angular
                                    </li>
                                    <li>
                                        <img src="./assets/img/check.svg">
                                        Typescript
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body skillContainer">
                    <h5>Dev Tools</h5>
                    <p class="card-text"></p>
                    <div class="row" style="text-align: left">
                        <div class="col">
                            <ul class="list-unstyled">
                                <li>
                                    <img src="./assets/img/check.svg">
                                    TestFlight
                                </li>
                                <li>
                                    <img src="./assets/img/check.svg">
                                    Git
                                </li>
                                <li>
                                    <img src="./assets/img/check.svg">
                                    Apt
                                </li>
                                <li>
                                    <img src="./assets/img/check.svg">
                                    Npm
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul class="list-unstyled" style="text-align: left">
                                <li>
                                    <img src="./assets/img/check.svg">
                                    Virtualization
                                    <ul>
                                        <li>VMWare</li>
                                        <li>Virtual Box</li>
                                        <li>Hyper-V</li>
                                        <li>Proxmox</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
