<h1 id="skills">My Skills</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5>Languages</h5>
                    <p class="card-text"></p>
                    <ul class="list-unstyled" style="text-align: left">
                        <li>
                            <img src="./assets/img/check.svg">
                            Swift
                        </li>
                        <li>
                            <img src="./assets/img/check.svg">
                            C#
                        </li>
                        <li>
                            <img src="./assets/img/check.svg">
                            C++
                        </li>
                        <li>
                            <img src="./assets/img/check.svg">
                            Python
                        </li>
                    </ul>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5>Frameworks</h5>
                    <p class="card-text"></p>
                    <ul class="list-unstyled" style="text-align: left">
                        <li>
                            <img src="./assets/img/check.svg">
                            SwiftUI
                        </li>
                        <li>
                            <img src="./assets/img/check.svg">
                            WxWidgets
                        </li>
                        <li>
                            <img src="./assets/img/check.svg">
                            Unity
                        </li>
                        <li>
                            <img src="./assets/img/check.svg">
                            Unreal Engine
                        </li>
                    </ul>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">

                    <h5>Website Development</h5>


                    <p class="card-text"></p>

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul class="list-unstyled" style="text-align: left">
                                    <li>
                                        <img src="./assets/img/check.svg">
                                        HTML
                                    </li>
                                    <li>
                                        <img src="./assets/img/check.svg">
                                        CSS
                                    </li>
                                    <li>
                                        <img src="./assets/img/check.svg">
                                        Angular
                                    </li>
                                    <li>
                                        <img src="./assets/img/check.svg">
                                        Typescript
                                    </li>
                                </ul>
                            </div>
                            <!--
                                                        <div class="grid-container">
                                                            <img width="64" src="./assets/img/icons/dev/html5-original.svg">
                                                            <img width="64" src="./assets/img/icons/dev/css3-original.svg">
                                                            <img width="64" src="./assets/img/icons/dev/angularjs-original.svg">
                                                            <img width="64" src="./assets/img/icons/dev/typescript-original.svg">
                                                        </div>
                            -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5>Dev Tools</h5>
                    <p class="card-text"></p>
                    <ul class="list-unstyled" style="text-align: left">
                        <li>
                            <img src="./assets/img/check.svg">
                            TestFlight
                        </li>
                        <li>
                            <img src="./assets/img/check.svg">
                            Git
                        </li>
                        <li>
                            <img src="./assets/img/check.svg">
                            Photoshop
                        </li>


                    </ul>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
