<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5">
      <h1>Portfolio</h1>
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">

      <ul class="navbar-nav align-items-lg-center">
        <li >
          <a class="nav-link" href="#about">
            About Me
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center">
        <li >
          <a class="nav-link" href="#skills">
            Skills
          </a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Projects</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu" >
            <div class="dropdown-menu-inner">
              <a routerLinkActive="active" href="#iFavs" class="media d-flex align-items-center">
                <div class="icon icon-shape  text-white">
                  <img width="48" src="./assets/img/brand/iFavs-icon.png">
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">iFavs</h6>
                  <p class="description d-none d-md-inline-block mb-0">Save, manage et open your favorite links and apps with iFavs. Written in Swift for MacOS.</p>
                </div>
              </a>
              <a routerLinkActive="active" href="#5x5" class="media d-flex align-items-center">
                <div class="icon icon-shape text-white">
                  <img width="48" src="./assets/img/brand/5x5-icon.png">
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">5x5</h6>
                  <p class="description d-none d-md-inline-block mb-0">Math puzzles using addition and multiplication. Written in C# using Unity.</p>
                </div>
              </a>
              <a routerLinkActive="active" href="#pedalboard" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                  <i class="ni ni-ui-04"></i>
                </div>
                <div class="media-body ml-3">
                  <h5 class="heading text-warning mb-md-1">Pedalboard</h5>
                  <p class="description d-none d-md-inline-block mb-0">Use Digital Sound Processing to modify the sound of any instrument. Written in Swift for iOS, iPadOS, and MacOS.</p>
                </div>
              </a>
              <a routerLinkActive="active" href="#500" class="media d-flex align-items-center">
                <div class="icon icon-shape text-white">
                  <img width="48" src="./assets/img/brand/500-icon.png">
                </div>
                <div class="media-body ml-3">
                  <h5 class="heading text-warning mb-md-1">Five Hundreds</h5>
                  <p class="description d-none d-md-inline-block mb-0">Play a tradition card game from Newfoundland against AI trained with machine learning. Written in C# using Unity.</p>
                </div>
              </a>
            </div>
          </div>
        </li>

        <ul class="navbar-nav align-items-lg-center">
          <li >
            <a class="nav-link" href="#contact">
              Contact
            </a>
          </li>
        </ul>
<!--
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Skills</span>
          </a>
          <div class="dropdown-menu">
            <a href="#skills" class="dropdown-item">Website Development</a>
            <a href="#skills" class="dropdown-item">UI Development</a>
            <a href="#skills" class="dropdown-item">Backend Development</a>
            <a href="#skills" class="dropdown-item">Other</a>
          </div>
        </li>
-->
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.instagram.com/hdh_analytics/" target="_blank" data-toggle="tooltip" title="Follow HDH Analytics on Instagram">
            <i class="fa fa-instagram"></i>
            <span class="nav-link-inner--text d-lg-none">Instagram</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://github.com/jeremycote/" target="_blank" data-toggle="tooltip" title="Github">
            <i class="fa fa-github"></i>
            <span class="nav-link-inner--text d-lg-none">Github</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
