.skill-cell {
    text-align: left;
}

.skill-cell ul {
    list-style-image: url('../../assets/images/utilities/check.svg');
    list-style-type: circle;
    column-count: 2;
}

.skill-cell ul li {
    margin-bottom: 0.   75em;
}

h1 {
    font-size: 1.5em;
}